<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/project4.1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Db/PayoutStatus.hbm.xml"/>
    <mapping resource="Db/ServiceDuration.hbm.xml"/>
    <mapping resource="Db/MembershipStatus.hbm.xml"/>
    <mapping resource="Db/Message.hbm.xml"/>
    <mapping resource="Db/MembershipDuration.hbm.xml"/>
    <mapping resource="Db/ServiceProvider.hbm.xml"/>
    <mapping resource="Db/ServiceOrder.hbm.xml"/>
    <mapping resource="Db/VehicleMake.hbm.xml"/>
    <mapping resource="Db/City.hbm.xml"/>
    <mapping resource="Db/Leavingrequest.hbm.xml"/>
    <mapping resource="Db/LoginStatus.hbm.xml"/>
    <mapping resource="Db/MsgStatus.hbm.xml"/>
    <mapping resource="Db/MsgType.hbm.xml"/>
    <mapping resource="Db/UserTypeHasUserPrivillege.hbm.xml"/>
    <mapping resource="Db/MembershipPlan.hbm.xml"/>
    <mapping resource="Db/UserType.hbm.xml"/>
    <mapping resource="Db/PayLaterItem.hbm.xml"/>
    <mapping resource="Db/CabDriverLocation.hbm.xml"/>
    <mapping resource="Db/OrderStatus.hbm.xml"/>
    <mapping resource="Db/ServiceInvoice.hbm.xml"/>
    <mapping resource="Db/Requeststatus.hbm.xml"/>
    <mapping resource="Db/CabDriverDetails.hbm.xml"/>
    <mapping resource="Db/ServiceProviderLocationDetails.hbm.xml"/>
    <mapping resource="Db/Cab.hbm.xml"/>
    <mapping resource="Db/Destination.hbm.xml"/>
    <mapping resource="Db/ServiceStatus.hbm.xml"/>
    <mapping resource="Db/VehicleColour.hbm.xml"/>
    <mapping resource="Db/CabDriver.hbm.xml"/>
    <mapping resource="Db/PaymentInfoStatus.hbm.xml"/>
    <mapping resource="Db/AdminDetails.hbm.xml"/>
    <mapping resource="Db/LocationType.hbm.xml"/>
    <mapping resource="Db/Gender.hbm.xml"/>
    <mapping resource="Db/MembershipUpgradeHistory.hbm.xml"/>
    <mapping resource="Db/Logo.hbm.xml"/>
    <mapping resource="Db/PaymentOption.hbm.xml"/>
    <mapping resource="Db/ServiceInvoiceStatus.hbm.xml"/>
    <mapping resource="Db/MembershipPaymentHistory.hbm.xml"/>
    <mapping resource="Db/OutsidePayout.hbm.xml"/>
    <mapping resource="Db/PaidHistory.hbm.xml"/>
    <mapping resource="Db/StartPoint.hbm.xml"/>
    <mapping resource="Db/LoginDetails.hbm.xml"/>
    <mapping resource="Db/VehicleStatus.hbm.xml"/>
    <mapping resource="Db/DurationMonths.hbm.xml"/>
    <mapping resource="Db/MsgPriority.hbm.xml"/>
    <mapping resource="Db/MembershipType.hbm.xml"/>
    <mapping resource="Db/PayLaterService.hbm.xml"/>
    <mapping resource="Db/PaymentStatus.hbm.xml"/>
    <mapping resource="Db/ServiceDetails.hbm.xml"/>
    <mapping resource="Db/UserDetails.hbm.xml"/>
    <mapping resource="Db/UserLocations.hbm.xml"/>
    <mapping resource="Db/ServicePaymentHistory.hbm.xml"/>
    <mapping resource="Db/DriverContactNo.hbm.xml"/>
    <mapping resource="Db/UserPrivillege.hbm.xml"/>
    <mapping resource="Db/PriorityOrder.hbm.xml"/>
    <mapping resource="Db/VehicleModel.hbm.xml"/>
    <mapping resource="Db/User.hbm.xml"/>
    <mapping resource="Db/Administrator.hbm.xml"/>
    <mapping resource="Db/ProfilePicture.hbm.xml"/>
    <mapping resource="Db/PaymentMethod.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
